{% extends "OrganisationBundle::layout.html.twig" %}

{% block content %}
    <div class="col-lg-12 content-block">
        <h1>Importer un fichier</h1>
        <form action="{{ path('import_matchs') }}" method="POST" enctype="multipart/form-data" class="form-horizontal">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}