{% extends "FrontEndBundle::layout.html.twig" %}
{% block body %}
    <div class="container">
        <div class="col-lg-6 col-sm-offset-3">
            <h1>Un nouvel arbitre a été créé</h1>
            <p>Bravo ;)</p>
        </div>
    </div>
{% endblock body %}