{% block navbar %}
<li class="active"><a href="{{ path("tennis_home") }}">Accueil</a></li>
<li class="active"><a href="{{ path("user-registration") }}">S'inscrire</a></li>
<li class="active"><a href="{{ path("user-login") }}">Se connecter</a></li>
{% endblock %}