{% block navbar %}
<li class="active"><a href="{{ path("tennis_arbitre_home") }}">Accueil</a></li>
<li><a href="{{ path("user-profile") }}">Mon compte</a></li>
<li><a href="{{ path("user-logout") }}">Se déconnecter</a></li>
{% endblock %}