{% extends "TennisBundle::layout.html.twig" %}

{% block content %}
    <div class="col-sm-9 col-sm-offset-1 content-block">
        <h1 class="text-center">Gestion des joueurs</h1>
    </div>
    <div class="col-sm-9 col-sm-offset-1 content content-block" >
        <form action="{{ path('gestion-joueur_creer-joueur') }}" method="POST" class="form-horizontal">
            {{ form_widget(form) }}
            <div>
                <input class='btn btn-success' type="submit" value="Créer" />
            </div>
        </form>
    </div>
{% endblock %}