{% trans_default_domain 'FOSUserBundle' %}
<div class=" col-sm-8 col-sm-offset-1">
    <div class="col-sm-offset-1 well window-connection content-block col-sm-12 user-form">
        <h1 class="text-center">Modifier ses informations</h1>
        {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>
