<div class=" col-sm-8 col-sm-offset-1">
    <div class="col-sm-offset-1 well window-connection content-block col-sm-12 user-form">
        <h1 class="text-center">Modifier mon mot de passe</h1>
        {{ form_start(form, { 'action': path('user-profile-pwd'), 'attr': { 'class': 'fos_user_change_password' } }) }}
            {{ form_widget(form) }}
            <div>
                <input type="submit" value="{{ 'change_password.submit'|trans }}" />
            </div>
        {{ form_end(form) }}
    </div>
</div>
